﻿@model Piezas2.Models.FindRecambioModel
@{
  ViewData["Title"] = "Busqueda de recambios";
}

<div class="main-frame">
  <h1>Recambios de coche al alcance de tu bolsillo</h1>
  <p>Esta tienda distribuye recambios para coche de las marcas JP Group, Ridex, TedGum, ET EngineTeam, Kolben Smitd etc. con excelente relación precio/calidad para un grupo de autos del Grupo VAG. Cada pieza de repuesto ha sido escogida en base a la experiencia de varios mecánicos en cuanto a durabilidad en las condiciones de estado de carreteras y calles, temperatura y humedad de diferentes países.</p>
  <br />

  <ul class="nav nav-tabs">
    <li class="nav-item active"><a class="tab-title nav-link" data-toggle="tab" href="#TabInfo">Información</a></li>
    <li class="nav-item"><a class="tab-title nav-link" data-toggle="tab" href="#TabCode">Código</a></li>
    <li class="nav-item"><a class="tab-title nav-link" data-toggle="tab" href="#TabName">Nombre</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-frame tab-pane fade in active" id="TabInfo">
      <div class="btn-group" id="comboMarca">
        <button type="button" class="btn combo-txt">&emsp;</button>
        <button type="button" class="btn dropdown-toggle btn-primary" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu"></ul>
      </div>

      <div class="btn-group" id="comboModelo">
        <button type="button" class="btn combo-txt">&emsp;</button>
        <button type="button" class="btn dropdown-toggle btn-primary" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu"></ul>
      </div>

      <div class="btn-group" id="comboMotor">
        <button type="button" class="btn combo-txt">&emsp;</button>
        <button type="button" class="btn dropdown-toggle btn-primary" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu"></ul>
      </div>

      <div class="btn-group" id="comboCategoria">
        <button type="button" class="btn combo-txt">&emsp;</button>
        <button type="button" class="btn dropdown-toggle btn-primary" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu"></ul>
      </div>

      <div class="btn-group" id="comboFabricante">
        <button type="button" class="btn combo-txt">&emsp;</button>
        <button type="button" class="btn dropdown-toggle btn-primary" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu"></ul>
      </div>

      <div class="btn-group" id="FindByInfo">
        <button type="button" class="btn btn-primary">Buscar</button>
      </div>
    </div>

    <div class="tab-frame tab-pane fade" id="TabCode">
        <div class="btn-group label-input">
          <label id="labelCode" for="inputCode" class="control-label">Código:</label>
          <input id="inputCode" class="form-control" placeholder="Código del recambio">
          <button type="button" class="btn btn-primary" id="FindByCode" >Buscar</button>
        </div>
    </div>

    <div class="tab-frame tab-pane fade" id="TabName">
        <div class="btn-group label-input">
          <label id="labelName" for="inputName" class="control-label">Nombre del Recambio:</label>
          <input id="inputName" class="form-control" placeholder="Palabra o frase del nombre">
          <button type="button" class="btn btn-primary" id="FindByName" >Buscar</button>
        </div>
    </div>

  </div>

  <h1>Distribuimos para estas marcas de coche</h1>
   <div class="marcas">
    <div class="marca">
      <a title="Piezas de repuesto para AUDI" alt="Piezas de repuesto para AUDI" href="/modelos-de-coches/audi">
        <img title="Piezas de repuesto para AUDI" src="~/images/Logos/Audi.png" alt="" />
      </a>
      <div>
        <h5><a title="Recambios coche para AUDI" class="title5" href="/modelos-de-coches/audi">AUDI</a></h5>
        <p>Recambios para coches AUDI (modelos: A4, A6, etc.)</p>
      </div>
    </div>

    <div class="marca">
      <a title="Piezas de repuesto para SEAT" alt="Piezas de repuesto para SEAT" href="/modelos-de-coches/seat">
        <img title="Piezas de repuesto para SEAT" src="~/images/Logos/Seat.png" alt="" />
      </a>
      <div>
        <h5><a title="Recambios de coche para SEAT" class="title5" href="/modelos-de-coches/seat">SEAT</a></h5>
        <p>Recambios para coches SEAT (modelos: Altea, Córdoba, Ibiza, León, Toledo, etc.)</p>
      </div>
    </div>
    <div class="marca">
      <a title="Piezas de repuesto para Škoda" alt="Piezas de repuesto para Škoda" href="/modelos-de-coches/skoda">
        <img title="Piezas de repuesto para Škoda" src="~/images/Logos/Skoda.png" alt="" />
      </a>
      <div>
        <h5><a title="Recambios de coche para Škoda" class="title5" href="/modelos-de-coches/skoda">ŠKODA</a></h5>
        <p>Recambios para coches Škoda (modelos: Fabia, Octavia, Superb, etc.)</p>
      </div>
    </div>
    <div class="marca">
      <a title="Piezas de repuesto para VW" alt="Piezas de repuesto para VW" href="/modelos-de-coches/volkswagen">
        <img title="Piezas de repuesto para VW" src="~/images/Logos/Volkswagen.png" alt="" />
      </a>
      <div>
        <h5><a title="Recambios de coche para VW" class="title5" href="/modelos-de-coches/volkswagen">VOLKSWAGEN</a></h5>
        <p>Recambios para coches VW (modelos: Jetta, Passat, Polo, etc.)</p>
      </div>
    </div>
  </div>

  <h1>Distribuimos estas marcas de recambios de coche</h1>
  <p>Esta tienda distribuye recambios para coche de las marcas ET EngineTeam, JP Group, Kamoka, KolbenSchmidt, Pierburg, Ridex y TedGum para diferentes modelos de coches del Grupo VAG</p>
  <div class="makers">
    <div class="maker">
      <div>
        <a title="Piezas de repuesto de la marca ET EngineTeam" 
           alttext="Piezas de repuesto de la marca ET EngineTeam" 
           href="/fabricantes-de-recambios/et-engineteam">

          <img title="Piezas de repuesto de la marca ET EngineTeam" src="Images/LogoEngineteam.png" alt="" />
        </a>
      </div>
      <div>
        <h3>
          <a title="Recambios de coche de la marca ET EngineTeam" class="title5" 
             href="/fabricantes-de-recambios/et-engineteam">
            ET EngineTeam
          </a>
        </h3>
        <p>Recambios para coches del Grupo VAG de la marca ET EngineTeam especializada en componentes del motor</p>
      </div>
    </div>

    <div class="maker">
      <div>
        <a title="Piezas de repuesto de la marca JP Group" alttext="Piezas de repuesto de la marca JP Group" href="/fabricantes-de-recambios/jp-group">
          <img title="Piezas de repuesto de la marca JP Group" src="Images/LogoJPGroup.png" alt="" />
        </a>
      </div>
      <div>
        <h3>
          <a title="Recambios de coche de la marca JP Group" class="title5" href="/fabricantes-de-recambios/jp-group">JP Group</a>
        </h3>
        <p>Recambios para coches del Grupo VAG de la marca JP Group especializada en suspensión, dirección, electricidad, transmisión, etc.</p>
      </div>
    </div>

    <div class="maker">
      <div>
        <a title="Piezas de repuesto de la marca Kamoka" alttext="Piezas de repuesto de la marca Kamoka" href="/fabricantes-de-recambios/kamoka">
          <img title="Piezas de repuesto de la marca Kamoka" src="Images/LogoKamoka.png" alt="" />
        </a>
      </div>
      <div>
        <h3>
          <a title="Recambios de coche de la marca Kamoka" class="title5" href="/fabricantes-de-recambios/kamoka">Kamoka</a>
        </h3>
        <p>Recambios para coches del Grupo VAG de la marca Kamoka especializada en suspensión y transmisión</p>
      </div>
    </div>

    <div class="maker">
      <div>
        <a title="Piezas de repuesto de la marca KOLBENSCHMIDT" alttext="Piezas de repuesto de la marca KOLBENSCHMIDT" href="/fabricantes-de-recambios/kolbenschmidt">
          <img title="Piezas de repuesto de la marca KOLBENSCHMIDT" src="Images/LogoKolbenschmidt.png" alt="" />
        </a>
      </div>
      <div>
        <h3>
          <a title="Recambios de coche de la marca KOLBENSCHMIDT" class="title5" href="/fabricantes-de-recambios/kolbenschmidt">KOLBENSCHMIDT</a>
        </h3>
        <p>Recambios para coches del Grupo VAG de la marca KOLBENSCHMIDT especializada en componentes del motor</p>
      </div>
    </div>

    <div class="maker">
      <div>
        <a title="Piezas de repuesto de la marca Pierburg" alttext="Piezas de repuesto de la marca Pierburg" href="/fabricantes-de-recambios/pierburg">
          <img title="Piezas de repuesto de la marca Pierburg" src="Images/LogoPierburg.png" alt="" />
        </a>
      </div>
      <div>
        <h3>
          <a title="Recambios de coche de la marca Pierburg" class="title5" href="/fabricantes-de-recambios/pierburg">Pierburg</a>
        </h3>
        <p>Recambios para coches del Grupo VAG de la marca Pierburg especializada en componentes del motor</p>
      </div>
    </div>

    <div class="maker">
      <div>
        <a title="Piezas de repuesto de la marca Ridex" alttext="Piezas de repuesto de la marca Ridex" href="/fabricantes-de-recambios/ridex">
          <img title="Piezas de repuesto de la marca Ridex" src="Images/LogoRidex.png" alt="" />
        </a>
      </div>
      <div>
        <h3>
          <a title="Recambios de coche de la marca Ridex" class="title5" href="/fabricantes-de-recambios/ridex">Ridex</a>
        </h3>
        <p>Recambios para coches del Grupo VAG de la marca Ridex  especializada en suspensión, dirección, electricidad, transmisión, etc.</p>
      </div>
    </div>

    <div class="maker">
      <div>
        <a title="Piezas de repuesto de la marca TEDGUM" alttext="Piezas de repuesto de la marca TEDGUM" href="/fabricantes-de-recambios/tedgum">
          <img title="Piezas de repuesto de la marca TEDGUM" src="Images/LogoTedGum.png" alt="" />
        </a>
      </div>
      <div>
        <h3>
          <a title="Recambios de coche de la marca TEDGUM" class="title5" href="/fabricantes-de-recambios/tedgum">TEDGUM</a>
        </h3>
        <p>Recambios para coches del Grupo VAG de la marca TEDGUM especializada en componentes de la suspensión</p>
      </div>
    </div>

  </div>

  <br /><br />
  <label>Nota:</label> <a href="/admin/">Ver Administración</a>
</div>



@section Scripts{
<script type="text/javascript">

  // Datos para todos los combos de seleccion de recamios
  var Datos = {
              Marcas : @Model.MarcasToJson(),
              Modelos: @Model.ModelosToJson(),
              Motores: @Model.MotoresToJson(),
              Categor: @Model.CategoriasToJson(),
              Fabric : @Model.FabricantesToJson(),
              };

  // Identificadores de los combos para la seleccion de recambios
  var CbIDs = {
              Marca  : "#comboMarca",
              Modelo : "#comboModelo",
              Motor  : "#comboMotor",
              Categor: "#comboCategoria",
              Fabric : "#comboFabricante"
              };

  var cbDats;         // Maneja la entrada de datos mediante combos

  // Inicia manipuladores y variables, después de cargarse la página
  $( function()
    {
    cbDats = new UIFilters( Datos, CbIDs );

    $("#inputCode").val( localStorage["lastCode"] || "" );
    $("#inputName").val( localStorage["lastName"] || "" );

    // Busca recambios por la información suministrada en los combos
    $("#FindByInfo").on( 'click', () =>
      {
      window.location = "/buscar-recambio/info";
      });

    // Busca recambios por el código suministrado
    $("#FindByCode").on( 'click', () =>
      {
      localStorage[ "lastCode" ] = $("#inputCode").val();
      window.location = "/buscar-recambio/code";
      });

    // Busca recambios por palabras en el nombre del recambio
    $("#FindByName").on( 'click', () =>
      {
      localStorage[ "lastName" ] = $("#inputName").val();
      window.location = "/buscar-recambio/name";
      });

    } );

</script>
}
