﻿@model ErrorViewModel
@{
  ViewData["Title"] = "Mapa del sitio";
}

<div class="container main-frame">

  <h1 style="text-align:center"> Mapa del sitio. </h1>

  Contenido pendiente de diseño.

</div>
