﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.main-frame {                                           /* Marco principal para las paginas del sitio */
  max-width: 1080px;
  margin-bottom: 10px;
  padding-top: 8px;
  min-height: 700px;
  margin-left: auto;
  margin-right: auto;
}

.shadow-border {                                        /* Pone un borde resaltado con sombra */
  border: 2px solid #aaa;
  border-radius: 10px;
  box-shadow: 5px 5px 30px #808080;
}

body {                                                  /* Definiciones generales para el cuerpo de la página */
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #666;
  font: 15px/20px 'Segoe UI',Arial;
}

h1, .title1 {
  font: 36px/48px 'Segoe UI Light',Arial;
  color: #333;
}

h2, .title2 {
  font: 28px/36px 'Segoe UI Light',Arial;
  color: #333;
}

h5, .title5 {
  color: #333;
  font: 18px/24px 'Segoe UI',Arial;
}

h1, h2, h3 {
  margin-top: 5px;
}

/* --------------------- Bloque donde se muestran las marcas de los coches -----------------------------------------------------------------*/
.marcas {                                               /* Bloque donde se ponen todas las marcas */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 40px;
  margin-top: 10px;
}

.marca {                                                /* Recuadro donde se muestra una marca de coche */
  display: flex;
  flex-direction: column;
}

.marcas img {                                           /* Imagen donde se pone el logo de la marca*/
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.marcas > div {                                         /* Centra toda la información sobre el coche */
  text-align: center;
}

/* --------------------- Bloque donde se muestran los fabricantes de recambios -------------------------------------------------------------*/
.makers {                                               /* Bloque donde se ponen los fabricantes de los coches */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  margin-top: 10px;
}

.maker {                                                /* Recuadro donde se pone cada fabricante */
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  align-items: center;
}

.maker img {                                            /* Imagen donde se pone el logo del fabricante */
  width:95px;
  height:95px;
  margin-right: 15px;
  vertical-align:middle;
}

/* --------------------- Bloque donde se muestran los modelos de los coches -------------------------------------------------------------*/
.coches {                                               /* Bloque que contiene los modelos de los coches*/
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.coche {                                                /* Recuadro donde se muestra un coche*/
  display:flex;
  flex-direction: row;
  align-items: center;
}

.coche div:first-child {
	width: 95px;
	height: 95px;
	flex-grow: 0;
	flex-shrink: 0;
}

.coche div:first-child a {
	line-height: 95px;
}

.coche img {                                            /* Imagen donde se pone la foto de coche*/
  width: 95px;
  height: 95px;
  margin-right: 15px;
}

/* --------------------- Bloque donde se muestran los Items -----------------------------------------------------------------------------*/
.item-boxs-title {                                      /* Titulo para los bloques que muestran Items */  
  padding-top: 3px;
  color: darkgreen !important;
}

.item-boxs {                                            /* Bloque que contiene Items mostrados en forma de regilla*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.item-box {                                             /* Recuadro donde se muestra un Item */
  position: relative;
  display: flex;
  flex-direction: row;
  border: 1px #aaa solid;
  border-radius: 10px;
}

.item-over {                                            /* Recuadro trasparente que cubre el recuadro del Item*/
  position: absolute;
  left: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.item-over:hover {                                      /* Cuando se mueve el ratón por arriba de un Item */
  background-color: #0001;
  cursor: pointer;
}

.item-box-img {                                         /* Recuadro de la imagen dentro del Item*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 95px;
  height: 95px;
  margin-right: 10px;
}

.item-box-img img {                                     /* Imgen dentro del recuadro de un item*/
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.item-box-info {                                        /* Recuadro donde se muestra la información del Item */
  position: relative;
  flex-grow: 1;
}

.item-box-info h3 {                                     /* Zona donde se muestra el nombre del Item*/
  margin-top: 0px;
  padding-top: 0px;
  max-height: 70px;
  overflow: hidden;
  font: 18px/22px 'Segoe UI',Arial;
  margin-bottom: 8px;
}

.item-box-info span {                                   /* Zona donde se muestra el precio del item*/
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin-bottom: 8px;
}

.item-boxs-more {                                       /* Zona debajo del bloque item*/
  height: 25px;
}

.item-boxs-more a {                                     /* Link colocado en la zona debajo del bloque (ver mas...)*/
  float: right;
  color: darkgreen !important;
  font-weight: bold;
  margin-top: 4px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------*/


a {
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none !important;
  color: #333 !important;
}

.footer {                                             /* Franja de abajo, ocupada por el footer*/
  margin-top: 40px;
  background-color: #f1f1f1;
  padding:20px;
}

.footer-row {                                         /* Filas de enlaces dentro del footer*/
  display: flex;
  flex-flow: nowrap;
  margin-bottom: 20px;
  justify-content: center;
  /*column-gap: 12px;*/
}

.footer-row > * {                                     /* Esto es porque Edge no soporta column-gap*/
    margin-right: 10px;
  }

.copyright {                                          /* Cartel de copyright que aparece en el footer*/
  float: right;
  margin-top: -40px;
  margin-right: 50px;
  font-weight: bold;
  color: darkslategrey;
}

header {
	background-color: #f1f1f1;
  line-height: 50px;
  height: 50px;
}

header #btnBuy,
header #btnLog {
	cursor: pointer;
	float: right;
	margin-right: 30px;
	padding: 0px 10px;
  font-weight: bold;
}

header #btnBuy:hover,
header #btnLog:hover {
	cursor: pointer;
  background-color: #ddd !important;
}

header #btnBuy .icon,
header #btnLog .icon {
	width: 25px;
	height: 25px;
	vertical-align: middle;
	margin-bottom: 5px;
  margin-right: 5px;
}

#BoxUser {
	width: 250px;
}

.BoxFloat {
	display: none;
	position: absolute;
	border: 1px solid #AAA;
	background-color: #FFF;
	z-index: 3500;
	line-height: normal;
	cursor: default;
	white-space: normal;
	font-weight: normal;
	padding: 10px;
	box-shadow: 5px 5px 30px #808080;
	box-sizing: border-box;
}

.LineInput {
	border: 1px solid #808080;
	padding: 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
	width: 100%;
}

.btnRight, .btnLeft, .btnCenter {
	border: 1px solid #808080;
	padding: 5px;
	margin-bottom: 10px;
	text-align: center;
	background: #1F9430;
	color: #FFFFFF;
	font-weight: 600;
	cursor: pointer;
	border-radius: 5px;
}

.btnRight:hover, .btnLeft:hover, .btnCenter:hover {
  cursor:pointer;
  opacity:0.85;
  }

.btnLeft {
	width: 30%;
	float: left;
}

.btnRight {
	width: 65%;
	float: right;
}

.MsgError {
	display: none;
	margin-bottom: 10px;
	color: #D51414;
	font-size: 13px;
}

.item-pu {
	line-height: 30px;
	padding: 5px 10px;
	white-space: nowrap;
	cursor: pointer;
	display: block;
}

.item-pu:hover {
	background-color: #C4DEFC;
	cursor: pointer;
}

.link-bottom {
	clear: both;
	padding: 10px 0px;
	text-align: center;
}

.link-bottom span {
	color: #1F9430;
	font-weight: bold;
	padding: 6px;
}

.link-bottom span:hover {
  background-color: #C0F1F9;
  cursor: pointer;
}

#LogoSitio {                                                  /* Recuadro donde aparece el logo del sitio */
	display: inline-flex;
	align-items: center;
  cursor:pointer;
}

#LogoSitio img {                                              /* Donde aparece la icono del logo */
	height: 40px;
	margin: 0px 10px;
}

#LogoSitio>div {                                              /* Donde aparece el nombre del sitio */
	position: relative;
	top: -6px;
	font-size: 30px;
	font-weight: bold;
	color: #286090;
}

#LogoSitio div:first-child {                                  /* Donde aparece la adicción al nombre*/
	position: absolute;
	right: 0px;
	bottom: 0px;
	line-height: 14px;
	font-size: 14px;
	font-weight: initial;
}

#BoxBuy {                                                     /* Recuadro donde salen los productos del carrito */
	width: 340px;
}

.buy-count {                                                  /* Donde se muestra el número de items en el carrito */
	background-color: green;
	padding: 0px 4px;
	color: white;
	border-radius: 10px;
}

.buy-item {                                                   /* Fila de la tabla de productos */
	display: grid;
	grid-template-columns: auto 30px 50px 60px;
	grid-column-gap: 3px;
	align-items: center;
	margin: 5px 0px;
	font-size: 14px;
}

#BuyList > div:first-child {                                  /* Encabezamiento de la lista de porductos*/
	font-weight: bold;
	border-bottom: 1px #666 solid;
}

.buy-item div:nth-child(2),                                   /* Columna de cantidad de productos */
.buy-item div:nth-child(3),                                   /* Columna de precio de productos */
.buy-item div:nth-child(4)                                    /* Columna de monto de producto*/
{
	text-align:right;
}

#PendItems {
	min-height: 80px;
}
.buy-total {                                                  /* Fila que muestra el total a pagar */
	margin-bottom: 15px;
	text-align: right;
	border-top: 1px #666 solid;
}

.buy-total span:first-child {                                 /* Lugar donde aparece el precio total */
	font-weight: bold;
	color: darkgreen;
}

.buy-total select {                                           /* Para el combo de seleccionar la moneda*/
	border: none;
}

.btnCenter {                                                  /* Boton para pagar */
	width: 100px;
	margin: auto;
}



















#ItemsList thead tr th {                              /* Celdas del encabezamiento de la tabla de items*/
  background-color: #eee;
  padding: 4px 6px;
  font-size: 13px;
  line-height: 14px;
  white-space: nowrap;
}

#CochesList tbody tr td,
#ItemsList tbody tr td {                              /* Celdas del cuerpo de la tabla de items*/
  padding: 4px 6px;
  font-size: 12px;
  white-space: nowrap;
}

.tab-frame {                                          /* Define un frame asociado con el contenido de un tab*/
  padding: 8px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 0px 6px 6px 6px;
  margin-top: -1px;
}

.nav-tabs > li > a {                                  /* Controla la apariencia del los items de los tab*/
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 6px 6px 0 0;
}

.label-input {                                        /* Acomoda varios div seguidos, como los label y las entradas de textos*/
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /*column-gap: 10px;*/
}

.label-input > * {                                    /* Esto es porque Edge no soporta column-gap*/
    margin-right: 10px;
  }

.label-input input {                                  /* Le da tamaño al control de entrada dentro de un grupo label-input*/
    width: 200px;
  }

.label-input label {                                  /* Hace que las palabras del label dentro de un grupo label-input*/
    white-space:nowrap;
  }


.inactive {                                           /* Pone un item un dropdown-menu inactivo*/
  padding: 3px 10px;
  font-weight: bold;
}

.combo-txt {                                          /* Hace que todos los combos tengan el mismo tamaño*/
  width: 160px;
  padding-left: 5px;
  text-align: left;
  padding-right: 5px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-group .dropdown-menu li.tenue a,
.btn-group .btn.btn-default.tenue {                   /* Pone tenue el item del menú*/
  color: gray;
}

#FindByInfo button {                                  /* Separa el boton para buscar recambios*/
  margin-left:15px;
  }

.table-responsive {                                   /* Deja un poco de margen al final de la tabla para el scroll*/
  padding-bottom: 15px;
}     

.dropdown-menu {                                      /* Hace que cuando sean muchos items en la lista permita scrollear*/
  max-height: 300px;
  overflow: auto;
}

#FindMore {                                           /* Centra el boton de 'Buscar mas' en la parte de abajo */
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#MsgNoFound {                                         /* Desplaza hacia abajo el mensaje de no encontrado */
  margin-top: 10px;
}

#nowRec {                                             /* Posiciona el número de records cargados */
  position: absolute;
  right: 0;
}

#ItemsList thead tr th.ColOrder {                     /* Destaca la columna por donde se ordens*/
  background-color: lightgray;
}

#ItemsList thead tr .desc,                            /* Para las columnas oredenadas se cambia el color del fondo y la letra*/
#ItemsList thead tr .asc {
  background-color: #ddd !important;
  color: #337ab7;
}

#ItemsList thead tr .desc::after {                    /* Inserta una flecha para las columnas ordenadas*/
  content: " ⬆";
}

#ItemsList thead tr .asc::after {                     /* Inserta una flecha para las columnas ordenadas*/
  content: " ⬇";
}

#ItemsList thead tr th:hover {                        /* Resalta cuando se pasa por arriba del encabezamiento de las columnas */
  background-color: #C0F1F9;
  cursor: pointer;
}

.btn-close-msg {                                      /* Boton los mensajes de alertas */
  float: right;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding-bottom: 2px;
}

.show-tipo > .show-btn:hover,
.coche-name:hover,
#CochesList > tbody > tr:hover,
#ItemsList > tbody > tr:hover {                       /* Pone cursor cuando se pasa por arriba de las filas*/
  background-color: #f0f0f0;
  cursor: pointer;
}

.coche-list {                                         /* Pone los coches en una lista fluida */
  display: flex;
  flex-wrap: wrap;
}

.coche-name {                                         /* Aspecto como se muestra un nombre de un coche */
  border-radius: 8px;
  margin: 3px;
  padding: 1px 10px;
  border: gray 1px solid;
}

.coche-name a,
.coche-name a:hover,
.coche-name a:focus {                                 /* Controla la rayita y el color que sale en los links */
  text-decoration: none;
  color: darkslategray;
}

.show-tipo{                                           /* Barra para mostrar los botones para cambiar el tipo de vista de los resultados */
  height: 33px;
  }

.show-tipo > .show-btn {                              /* Caracteriticas de los botones de tipo de vista de los resultados */
  float: right;
}

#show-lst-panel {
  position: absolute;
  left: -5px;
  top: 0px;
  display:none;
  z-index:300;
}

#show-lst-panel, 
.show-tipo > .show-btn {                              /* Caracteriticas de los botones de tipo de vista de los resultados */
  height: 27px;
  width: 27px;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 0px 5px 5px 5px;
}

.show-btn.btn-selected {                              /* Forma de mostrar el boton de tipo de vista seleccionado */
  background-color: #eee;
  border-color: #286090;
}

.columns-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15px;
  grid-column-gap: 10px;
}

.columns-for-edit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15px;
  grid-column-gap: 10px;
}

#panelList {
  z-index: 200;
}

#list-rec, #list-coches, #edit-rec {
  position: relative;
  height: 650px;
  background-color: #f4f4f4;
  border: #999 1px solid;
}

#lb-sel-list {
  position: absolute;
  bottom: 3px;
}

#list-rec {
  overflow: auto;
  z-index: 1;
}

#CochesHeard {
  min-height: 50px;
  padding: 12px 100px 8px 8px;
}

#CochesHeard h4{
  margin: 0px;
}

#Update {
  position: absolute;
  right: 10px;
  top: 10px;
}

#CochesBody {
  overflow: auto;
  height: 597px;
}

#CochesList tbody tr td input {
  vertical-align: text-bottom;
}

.filters-btn {
  margin-bottom: -3px;
}

.filters-btn > .btn:first-child {
  background-color: transparent;
 /* margin-right: -12px;*/
  padding:0px;
}

.filters-popup {
  padding: 10px;
  width: 450px;
  margin: -5px 10px;
  overflow: inherit;
}

.filters-popup > .btn-group {
    display: block;
}

#FindForName > input {
  width: 185px;
  padding-left: 5px;
  height: 32px;
}

.filters-popup #FindRecambio button {
  width: 70px;
  margin: auto;
  display: block;
  float: none;
}

#CochesList label {
  margin-bottom: 2px;
  font-weight: normal;
}

.flex-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-row-gap: 8px;
}

.flex-grid .item {
  margin-left: 10px !important;
 }

.row-selected {
  background-color:lightskyblue !important;
}

#FindCoche {
  width: 185px;
  margin-left: 10px;
}

#FindCoche button {
  float: none;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*------------------------------------------ Página de ediccion de recambio ------------------------------------------------------*/
.columns-for-edit {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 15px;
  grid-column-gap: 10px;
  position: relative;
}

#headerDatos, #headerList {
  position: relative;
  min-height: 30px;
  background-color: #fff;
}

#edit-rec {
  padding: 10px;
}

#edit-rec label {
  margin-bottom: 0px;
}

#foto-datos {
  display: grid;
  grid-template-columns: 120px 1fr;
}

#foto-datos #foto {
  overflow: hidden;
}

#ImgFoto{
  overflow:auto;
}

#foto-datos #datos label {
  width: 80px;
  text-align: right;
  line-height: 25px;
}

#foto-datos #datos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 25px 25px 25px;
  margin-top: 15px;
  padding: 10px;
  grid-gap: 15px;
}

.label-val {
  display: grid;
  grid-template-columns: 80px auto;
}

.label-val label:first-child {
  width: 80px;
  text-align: right;
  }

.label-val label {
  height:25px;
  line-height: 25px;
}

.label-val.medida {
  position: relative
}

.label-val.medida label:last-child {
  position: absolute;
  right: 5px;
}

.label-val.medida input {
  padding-right: 45px;
}

#dato-nombre{
  grid-column: 1/3;
}

#FotoFrame {
  width: 120px;
  height: 120px;
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:white;
  overflow:hidden;
}

#FileFoto{
  display : none;
}

#lbFileFoto {
  width: 100%;
  text-align: center;
  color: cornflowerblue;

}

#lbFileFoto:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.center-content {
  display: flex;
  justify-content: center;
}

#edit-datos .center-content {
  min-height: 55px;
}

.btn-group.center-content button {
  border-radius: 5px !important;
  width: 80px;
  margin: 10px 20px 10px 20px !important;
}

#lnkHome {                                                                  /* Link para ir a la página inicial de la parte de arriba*/
  position: absolute;
  right: 10px;
  bottom: 0px;
}

#lnkNew {                                                                   /* Link para crear una entidad nueva */
  position: absolute;
  right: 100px;
  bottom: 0px;
}

#lnkHome label:hover, #lnkNew label:hover {
  cursor: pointer;
  background: #ddd;
  padding: 0px 10px;
}

#Descripcion {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
}

.right-top{
  position: absolute;
  top: 0px;
  right: 70px;
}

#btnClose {
	right: 0px;
	display: none;
	background-color: transparent;
	border: none;
	font-size: 24px;
}

#NewRec{
	width: 100%;
	height: 100%;
	z-index: 500;
	position: fixed;
	top: 0px;
}

#NewRec iframe {
	width: 350px;
	border: 0px;
	margin-left: auto;
	margin-right: auto;
  margin-top: 20px;
  display: block;
}
/*----------------------------------------------------- Media Querys --------------------------------------------------------------*/
@media (max-width: 1100px) {
  .marcas { grid-template-columns: 1fr 1fr; }                     /* No caben las marcas en 4 columnas, las pone en 2 */
  .marca { flex-direction: row; align-items: center;  }           /* Pone info horizontal */
  .marca h5 {  display: none; }                                   /* Oculta el nombre de la marca, con el logo es sufiente */
  .marcas > div { text-align: left; }

  .main-frame { margin-left: 5px; margin-right: 5px; }            /* Pone bordes fijos y pequeños al marco de las paginas*/

  .tab-content .btn-group { margin-bottom: 6px; }                 /* Pone separación vertical a los combos de selección de filtros*/

  .copyright {                                                    /* Pone copyright centrado y abajo*/
    float: none;
    margin-top: 20px;
    text-align: center;
    }

  }

@media (max-width: 1100px) {
  .item-boxs { grid-template-columns: 1fr 1fr; }                  /* No caben las 4 columnas de items, pasa a 2 */
  #ItemsGrid.item-boxs { grid-template-columns: 1fr 1fr 1fr; }    /* Si esta en busqueda pasa a 3 */
  }


@media (max-width: 825px) {
  .coches { grid-column-gap: 15px; }                              /* Pone separación entre comnas mas pequeña*/

  #ItemsGrid.item-boxs { grid-template-columns: 1fr 1fr; }        /* Si esta en busqueda pasa a 2 columnas */

  .marcas img { /* Pone los logos de las marcas más pequeños */
    width: 100px;
    height: 100px;
    margin-right: 15px;
  }
}

@media (max-width: 700px) {
  .coches, .makers { grid-template-columns: 1fr; }                /* No caben los fabricantes en 2 columnas, los pone en 1 */
}

@media (max-width: 570px) {
  .marcas { grid-template-columns: 1fr;}                          /* No caben las marcas en 2 columnas, las pone en 1 */
  .item-boxs { grid-template-columns: 1fr; }                      /* No caben las 2 columnas de items, pasa a 1 */
  #ItemsGrid.item-boxs { grid-template-columns: 1fr; }            /* Si esta en busqueda pasa a 2 columnas */
}

@media (max-width: 490px) {
  #labelName {  width: 100%;  }                                   /* No cabe buscar por nombre, fuerza a dos lineas */
  #labelCode {  width: 100%;  }

  #LogoSitio img { margin: 0px 4px; }                             /* Ajustes en el encabezamiento de la página */
  #LogoSitio>div { font-size: 15px; }
  header #btnBuy, header #btnLog {	margin-right: 10px; }
}

/*--------------------------------------------- Para las paginas de edicción -------------------------------------------------------*/

@media (max-width: 900px) {                                       /* Las páginas de edicción de datos, pasan tener un solo panel*/
  #show-lst-panel { display: block; }                             /* Muestra el botón para sacar la lista*/
  .columns-for-edit {  display: block; }                          /* Quita el layout para las 2 columnas*/
  #lb-sel-list { left: 35px; }                                    /* Corre el lable de la primera columna para con interfiera con el botón*/

  #panelList {                                                    /* Oculta la lista y pone animación*/
    position: absolute;
    width: 300px;
    left: -310px;
    transition-property: left;
    transition-duration: 0.5s;
    transition-timing-function: linear;
  }
}

@media (max-width: 600px) {
#foto-datos #datos { grid-template-columns: 1fr; }                /* Pone los datos en una sola columna*/
#dato-nombre { grid-column: initial; }                            /* El nombre pasa a ocupar una columna en lugar de 2*/
}

@media (max-width: 400px) {
#foto-datos { grid-template-columns: 1fr; }                       /* Pone la foto en la parte de arriba*/
#foto-datos #foto { margin: auto; }                               /* Centra la foto */  
#foto-datos #datos { grid-template-rows: initial; }               /* Quita la altura de las filas*/ 
}

